
.flex-container {
    display: flex;
    background-color: rgba(62, 137, 211, 0);
    justify-content: center;
    width: auto;
    margin-left : 0%;
    margin-right : 0%;
  }
  
.flex-container > div {
    background-color: #a7a4a4;
    margin: 3%;
    padding: 0px;
    font-size: 30px;
    width : 30%;
    height: 200px;
  }

  h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: Grey;
    margin-left: 3%;
    margin-top: 3%;
  }

  ul {
    list-style-type: none;
    margin-left: 3%;
    margin-right:3%;
    margin-bottom:0%;
    width:auto;
    padding: 0;
    overflow: visible;
    background-color: rgb(175, 170, 170);
    
}

.carousel {
	background-color:lightgrey;
	height: 200px;
	width: auto;
  margin-left : 3%;
  margin-right : 3%;
  margin-bottom:0%;
   
}
 
li {
    background-color: darkgrey;
    display:inline-block;
    padding:13px;
    padding-left: 0px;
}

li a {
    color: rgba(75, 74, 74, 0.947);
    text-align: center;
    padding: 13px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(124, 121, 121);
    color: red;
  }
/*body {text-align:center; padding:20px}*/

div2 {
  background-color: aqua;
}

hr{
  width: auto;
  margin-left: 3%;
  margin-right: 3%;
   }

#form{
  width: 70%;
  height: auto;
   }

input,textarea {
	width:70%;
  height: 30px;
	margin-left: 20%;
}